<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col wigth-100>
        <form (ngSubmit)="saveForm()">
            <ion-item>
              <ion-label>
                Latitude
              </ion-label>
              <ion-input [(ngModel)]="latitude" name="latitude" tipe="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                Longitude
              </ion-label>
              <ion-input [(ngModel)]="longitude" name="longitude" tipe="text"></ion-input>
            </ion-item>
            <ion-button ion-button type="submit" block>Salvar Mudanças</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
