<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="toolbar">
      Clima Irriga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="paginaInicial">
  <ion-grid *ngIf="tempo">
    <ion-row>
      <ion-col width-50 offset-25>
        <h2 class="localidade"> {{tempo.timezone}}</h2>
        <div class="icone"> <img src="{{tempo.currently.icon}}" alt=""></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-list>
        <ion-item>
          <h2 class="temperatura"> Temperatura: {{tempo.currently.temperature}}&deg;  Cº</h2>
        </ion-item>
        <ion-item>
          <h2 class="humidade">Umidade Relativa do Ar: {{tempo.currently.humidity}}%</h2>
        </ion-item>
        <ion-item>
          <h2 class="velovento">Velocidade do vento: {{tempo.currently.windSpeed}}m/s</h2>
        </ion-item>
        <ion-item>
          <h2 class="volumechuva">Volume de chuva: {{tempo.currently.precipProbability}}mm</h2>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
