<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list class="lista">
          <ion-item class="item">
            <pre><strong>Nome App: </strong> ClimaIrriga</pre>
          </ion-item>
          <ion-item>
            <pre><strong>Versão: </strong> 1.0.0</pre>
          </ion-item>
          <ion-item>
            <pre><strong>Descrição: </strong>

Desafio Irriga Juan Ramos
Aplicativo meteorológico!s</pre>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>